@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300');


#top {
  background-color: black;
  width: 902px;
  margin: 0 auto;
}

/* Title */
header {
  text-align: center;
  margin: 0 auto;
  width: 900px;
  background: #2d2d2d;
}
header a, header a:visited {
  text-decoration: none;
}
h1 {
  font-size: 80px;
  margin: 0;
  padding: 0;
  letter-spacing: -.05em;
}
h2 {
  font-size: 24px;
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
}
h1, h2, h3{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: lighter;
  color: #FFADBA;
}

/* Menu */
.main-nav{
  background-color: #2d2d2d;
  border: 1px solid;
  margin: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 558px;
  text-align: center;
  overflow: hidden;
  background-color: #2d2d2d;
  position: relative;
  left: 342px;
}
li {
  float: left;
  border-left: 1px solid;
}
#home-link{
  border-right: 1px solid;
}
li a {
  display: inline-block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: monospace;
  font-weight: lighter;
  font-size: 1rem;
  color: #FFADBA;
}
li a:hover {
  background-color: #111;
}

/* Description */
.block {
  width: 902px;
  margin: 0 auto;
  background-color: #2d2d2d;
  position: relative;
  top: 10px;
  margin-bottom: 18px;
  border: 1px solid;
}
p {
  text-align: center;
  color: white;
  clear: both;
}
p a {
  color: #FFADBA;
}

/*Game header*/
h3 {
  text-align: center;
  font-size: 36px;
  margin: 10px;
}
/* Pics */
.game-image {
  width: 431px;
  padding: 10px;
  float: left;
}

footer {
  clear: both;
  padding: 10px;
  text-align: center;
}
footer a {
  padding: 3px;
  background: #2d2d2d;
  font-family: monospace;
  font-weight: lighter;
  color: #FFADBA;
}


/* Mobile */
@media screen and (min-width: 0px) and (max-width: 480px){
  #top, header {
    width: 420px;
  }
  h1 {
    font-size: 36px;
  }
  ul{
    width: 300px;
    position: relative;
    left: 100px;
  }
  #desc {
    width: 418px;
  }
  .game-image {
    float: none;
    display: block;
    margin: 0 auto;
    width: 400px;
  }
}

/* Half Desktop*/
@media screen and (min-width: 481px) and (max-width: 1024px){
  #top, header {
    width: 600px;
  }
  ul{
    width: 300px;
    position: relative;
    left: 190px;
  }
  #desc {
    width: 598px;
  }
  .game-image {
    float: none;
    display: block;
    margin: 0 auto;
  }
}
